html {
  background-color: #245060;
}

body {
  margin: 0 20%;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 6em;
}

.Header {
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 2em;
}
img {
  width: 20%;
}

.flex-container {
  display: flex;
}

.card-container {
  padding: 0 10px;
  color: white;
}

.messenger {
  background-color: turquoise;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  margin: 0 0;
}
